PORT=3000

# Database Configuration
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=pembukuan_pribadi
DB_HOST=localhost
DB_PORT=5432

# Drizzle Database URL
DATABASE_URL=postgres://your_user:your_password@localhost:5432/pembukuan_pribadi
